/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

a {
    text-decoration: none !important;
    cursor: pointer;
}

label {
    font-size: 12px;
}

form app-majapp-input.ng-invalid.ng-touched input,
form app-majapp-input.ng-invalid.ng-dirty input,
form textarea.ng-invalid.ng-touched,
form textarea.ng-invalid.ng-dirty
 {
    border: 2px solid red !important;
}

google-map > div {
    width: inherit !important;
}

.f-wrap {
    flex-wrap: wrap;
}
