<ng-container [formGroup]="additionalsForm">

    <div class="form-group">
        <label for="">Description</label>
        <textarea maxlength="500" class="form-control" formControlName="description"></textarea>
        <app-input-validator controlName="description"></app-input-validator>
    </div>

    <app-additionals-hobbys [hobbys]="hobbys"></app-additionals-hobbys>

    <div class="form-group">
        <label for="">Shotr Infos</label>
        <app-majapp-input formControlName="shotrInfos"></app-majapp-input>
        <app-input-validator controlName="shotrInfos"></app-input-validator>
    </div>

</ng-container>